@import 'tailwindcss';

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-dm-sans), ui-sans-serif, system-ui, sans-serif;

  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;
}
